<template>
  <li class="message-list-item">
    <h5 class="message-author-name">{{ message.authorName }}</h5>
    <div class="message-time">
      {{ message.timestamp | time }}
    </div>
    <div class="message-text">{{ message.text }}</div>
    <button 
      @click="$emit('delete-message', message)">
      delete
    </button>
    <button
      v-show="recallShow(message)"
      @click="$emit('recall-message', message)">
      recall
    </button>
  </li>
</template>

<script>
export default {
  name: 'Message',
  props: {
    message: Object
  },
  methods: {
    recallShow(message) {
      // 随便了写在这里
      return 'Evan' === message.authorName
    }
  }
}
</script>
