<template>
  <div class="cart">
    <h2>Your Cart</h2>
    <p v-show="!products.length"><i>Please add some products to cart.</i></p>
    <ul>
      <li v-for="product in products" :key="product.id">
        {{ product.title }} - {{ product.price | currency }} x 
        <button @click="minusProductFromCart(product)"> - </button>
        {{ product.quantity }}
        <button
          :disabled="!getInventory(product)"
          @click="addProductToCart(getProduct(product))"> + </button>
      </li>
    </ul>
    <p>Total: {{ total | currency }}</p>
    <p><button :disabled="!products.length" @click="checkout(products)">Checkout</button></p>
    <p v-show="checkoutStatus">Checkout {{ checkoutStatus }}.</p>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState({
      all: state => state.products.all,
      checkoutStatus: state => state.cart.checkoutStatus
    }),
    ...mapGetters('cart', {
      products: 'cartProducts',
      total: 'cartTotalPrice'
    })
  },
  methods: {
    ...mapActions('cart', [
      'addProductToCart', 'minusProductFromCart'
    ]),
    checkout (products) {
      this.$store.dispatch('cart/checkout', products)
    },
    getInventory (product) {
      const cartItem = this.all.find(item => item.id === product.id)
      return cartItem.inventory
    },
    getProduct (product) {
      const cartItem = this.all.find(item => item.id === product.id)
      return cartItem
    }
  }
}
</script>
